<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutme.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <title>Number 1</title>
</head>

<body>



    <div class="body-content">
        <div id="header">
            <div id="hamb">
            </div>
            <h1 id="text" onclick="location.href='project1.ejs'">About me</h1>
        </div>

        <div class="container">

            <div class="sidebar">
                <h4>Overview</h4>
                <h4>Skills</h4>
                <h4>Documents</h4>
            </div>
            <div class="card_main">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus delectus nobis nemo nam distinctio, corrupti voluptatum assumenda nisi laborum commodi? Nemo ipsam dicta esse. Molestiae quibusdam adipisci architecto aspernatur asperiores.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus delectus nobis nemo nam distinctio, corrupti voluptatum assumenda nisi laborum commodi? Nemo ipsam dicta esse. Molestiae quibusdam adipisci architecto aspernatur asperiores.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus delectus nobis nemo nam distinctio, corrupti voluptatum assumenda nisi laborum commodi? Nemo ipsam dicta esse. Molestiae quibusdam adipisci architecto aspernatur asperiores.</p>
            </div>


        </div>


    </div>

</body>